.user-panel {
    height: 4rem;
}

.user-panel .info{
    /* position: relative;
    left: auto; */
    padding: 5px 0px 0px 0px;
}

.skin-blue .sidebar-menu li.header {
    color: white;
}

.login-page .main-footer{
    display: none;
}

.login-page .recordarme{
    padding-left: 3.5rem;
}

.login-page .social-auth-links{
    margin-top: 3rem;
}

.login-page form{
    margin-bottom: 1rem;
}

table td{
    font-size: 16px;
}

table th{
    font-size: 14.5px;
}

td .btn{
    margin-top: 0px;
}

.centrar-contenido {
    display: flex;
    justify-content: center;
}

/* para los formularios
 label {
    margin-right: 1rem;
}

#categoria{
    width:25rem;
} */



/* .dataTables_wrapper .row{ 
    display: flex; 
} */
