.user-panel {
    height: 4rem;
}

.user-panel .info{
    /* position: relative;
    left: auto; */
    padding: 5px 0px 0px 0px;
}

.skin-blue .sidebar-menu li.header {
    color: white;
}

.login-page .main-footer{
    display: none;
}

.login-page .recordarme{
    padding-left: 3.5rem;
}

.login-page .social-auth-links{
    margin-top: 3rem;
}

.login-page form{
    margin-bottom: 1rem;
}

table td{
    font-size: 16px;
}

table th{
    font-size: 14.5px;
}

td .btn{
    margin-top: 0px;
}

.centrar-contenido {
    display: flex;
    justify-content: center;
}

/* Formularios */
label {
    width: auto !important;
}
legend:not(:first-child) {
    margin: 3rem 0 2rem 0;
}
legend {
    font-weight: 600;
    border-color: lightskyblue;
}
.form-group{
    margin-bottom: 2rem;
}


/* .dataTables_wrapper .row{ 
    display: flex; 
} */

/* .table-scroll{
    width:100%;
    max-width:100%;
    overflow-x:scroll;
} */

/*table-scroll*/
.dtHorizontalVerticalExampleWrapper {
    max-width: 600px;
    margin: 0 auto;
    }
    #dtHorizontalVerticalExample th, td {
    white-space: nowrap;
    }
    table.dataTable thead .sorting:after,
    table.dataTable thead .sorting:before,
    table.dataTable thead .sorting_asc:after,
    table.dataTable thead .sorting_asc:before,
    table.dataTable thead .sorting_asc_disabled:after,
    table.dataTable thead .sorting_asc_disabled:before,
    table.dataTable thead .sorting_desc:after,
    table.dataTable thead .sorting_desc:before,
    table.dataTable thead .sorting_desc_disabled:after,
    table.dataTable thead .sorting_desc_disabled:before {
    bottom: .5em;
    }

.dataTables_scrollBody{
    height: auto !important;
}



.registro .box-body, .registro .box, .registro .form-horizontal, .registro form, .registro .box-footer{
    background-color: #f2f2f2;
}

.swal2-styled.swal2-confirm, .swal2-styled.swal2-cancel{
    font-size: 1.3em;
}