h1{
    font-size: 30px;
}
h2{
    font-size: 24px;
}
h3{
    font-size: 20px;
}

.user-panel {
    height: 4rem;
}

.user-panel .info{
    /* position: relative;
    left: auto; */
    padding: 5px 0px 0px 0px;
}

.skin-blue .sidebar-menu li.header {
    color: white;
}

.login-page .main-footer{
    display: none;
}

.login-page .recordarme{
    padding-left: 3.5rem;
}

.login-page .social-auth-links{
    margin-top: 3rem;
}

.login-page form, #login-user{
    margin-bottom: 1rem;
}
.login-logo a:hover{
    text-decoration: none;
    color: #444;
}
table td{
    font-size: 16px;
}

table th{
    font-size: 14.5px;
}

td .btn{
    margin-top: 0px;
}

.centrar-contenido {
    display: flex;
    justify-content: center;
}

/* Formularios */
label {
    width: auto !important;
}
legend:not(:first-child) {
    margin: 7rem 0 2rem 0;
}
legend {
    font-weight: 600;
    border-color: lightskyblue;
}
.form-group{
    margin-bottom: 2rem;
}


/* .dataTables_wrapper .row{ 
    display: flex; 
} */

/* .table-scroll{
    width:100%;
    max-width:100%;
    overflow-x:scroll;
} */

/*table-scroll*/
.dtHorizontalVerticalExampleWrapper {
    max-width: 600px;
    margin: 0 auto;
    }
    #dtHorizontalVerticalExample th, td {
    white-space: nowrap;
    }
    table.dataTable thead .sorting:after,
    table.dataTable thead .sorting:before,
    table.dataTable thead .sorting_asc:after,
    table.dataTable thead .sorting_asc:before,
    table.dataTable thead .sorting_asc_disabled:after,
    table.dataTable thead .sorting_asc_disabled:before,
    table.dataTable thead .sorting_desc:after,
    table.dataTable thead .sorting_desc:before,
    table.dataTable thead .sorting_desc_disabled:after,
    table.dataTable thead .sorting_desc_disabled:before {
    bottom: .5em;
    }

.dataTables_scrollBody{
    height: auto !important;
}

form img{
    width: 210px;
    height: 140px;
    object-fit: contain;
    object-position: center;
}
table img{
    width: 100px;
    height: 66px;
    object-fit: contain;
    object-position: center;
}

.registro .box-body, .registro .box, .registro .form-horizontal, .registro form, .registro .box-footer{
    background-color: #f2f2f2;
}

.swal2-styled.swal2-confirm, .swal2-styled.swal2-cancel{
    font-size: 1.3em !important;
}
.swal2-content {
    font-size: 1.4em !important;
}

.swal2-styled.swal2-confirm {
    border: 0;
    border-radius: .25em;
    background: initial;
    background-color: rgb(48, 133, 214) !important;
    color: #fff;
    font-size: 1em;
}
.swal2-html-container {
    font-size: 1.4em !important;
    padding: 1em 0em;
}
.swal2-popup{
    width: 40em !important;
}
.title-section{
    margin: 5rem 0 2rem 0 !important;
}

button i{
    margin-right: 1rem;
}
i.fa-trash{
    margin-right: 0;
}

button.btn.btn-success.dropdown-toggle {
    border-radius: 4px;
}
button#acreditar{
    width: 135px;
}
.btn-success{
    background-color: #00a65a;
    border-color: #00a65a;
}

.btn-success:hover{
    background-color: #018e4d;
}


.pagination{
    padding-top: 1em !important;
}
#acciones{
    padding-bottom: 1em
}
@media (max-width: 991px){
    #acciones .btn{
        margin-bottom: 1em;
    }
}

@media (max-width: 767px){
    .hidden-xs {
        display: block!important;
    }
}

#forgotpass:hover{
    cursor: pointer;

}
#forgotpass{
    font-size: 14px;
}

.logo:hover{
    cursor: pointer;
    text-decoration: none;
}

.skin-blue .main-header .navbar {
    background-color: #4f73ba;
}

.skin-blue .main-header .logo {
    background-color: #ecf0f5;
    color: #04c;
    border-bottom: 0 solid transparent;
}
.skin-blue .main-header .logo:hover {
    background-color: #ecf0f5;
    color: #04c;
    border-bottom: 0 solid transparent;
}

.instrucciones{
    font-size: 16px;
    line-height: 35px;
}